
#root {
  background: #A1D6E2;
}

::-webkit-scrollbar {
  height: 25px;
  width: 15px;
}


/* スクロールバーのスクロール部分の背景色を設定 */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #A1D6E2;
}